* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}

/* Header Style Start */

header {
  background-color: #2d033b;
  color: #e5b8f4;
  display: flex;
  flex-wrap: wrap;
  padding-right: auto;
  padding: 25px 10px;
  align-items: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.logo-header {
  margin-right: auto;
  padding-left: 10px;
}
.logo-header:hover {
  color: #c147e9;
  transform: rotate(5deg);
  transition: all 0.2s ease-in;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding-right: 20px;
}

nav ul li a {
  color: #e5b8f4;
}

nav ul li a:hover {
  color: #c147e9;
  transition: all 0.5s ease;
}

.btn-login {
  padding: 5px;
  background-color: #810ca8;
  color: #e5b8f4;
  border-radius: 10px;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 14px;
  margin-right: 30px;
}
.btn-login:hover {
  background-color: #e5b8f4;
  color: #810ca8;
}

/* Header Style End */

/* Container Style Start */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  font-size: 28px;
  font-weight: bolder;
  color: #c147e9;
  text-align: center;
}
.description {
  font-size: 24px;
  font-weight: bold;
  color: #c147e9;
  text-align: center;
}
.logo-apk {
  width: 350px;
}

.parallax {
  background-image: url(https://cdn.icon-icons.com/icons2/4054/PNG/512/discount_buy_sale_item_shop_store_ecommerce_shopping_bag_eco_bag_icon_258348.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 350px;
  height: 100vh;
  margin-top: 30px;
}
.tentang {
  background-color: #2d033b;
  padding: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tentang p {
  color: #e5b8f4;
}

.mt-20 {
  margin-top: 20px;
}

.cards {
  display: flex;
  color: #2d033b;
  padding: 20px;
  margin: 20px 0;
  clear: both;
}

.insta1,
.insta2,
.insta3 {
  flex: 1;
  padding: 20px;
  border: 1px solid #810ca8;
  border-radius: 20px;
  background-color: #e5b8f4;
  align-items: center;
}

.insta2 {
  margin: 0 10px;
}

img {
  width: 50%;
  border-radius: 50%;
  padding: 15px 90px;
}

p {
  font-family: "Courier New", Courier, monospace;
  color: #2d033b;
  font-size: 15px;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
}

p a {
  text-align: center;
  color: #810ca8;
  font-weight: bolder;
}

p a:hover {
  color: #c147e9;
}

.about-content {
  padding: 50px 0;
  width: 100%;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #c147e9;
  margin-bottom: 40px;
}

.btn-view {
  width: 20%;
  padding: 5px;
  background-color: #ffffff;
  color: #c147e9;
  border-radius: 30px;
  border: 1;
  border-color: #c147e9;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 30px;
  margin-left: 40%;
  text-align: center;
  margin-bottom: 30px;
}

.btn-view:hover {
  background-color: #2d033b;
  color: #e5b8f4;
  border-color: #810ca8;
}

.testimoni{
  display: grid;
  place-items: center;
}

fieldset {
  display: grid;
  place-items: center;
  border-color: #e5b8f4;
  width: max-content;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 20px;
}

fieldset img {
  width: 200px;
}

.text-testimoni {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #810ca8;
  font-size: 15px;
  text-align: center;
  padding: 5px 0;
  font-weight: 900;
}

legend{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #810ca8;
  font-size: 25px;
  text-align: center;
  padding: 5px 0;
  font-weight: 900;
}

.text-copyright{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #e5b8f4;
  font-size: 15px;
  text-align: center;
  padding: 5px 0;
  font-weight: 900;
  background-color: #2d033b;
  padding: 20px 0;
}
